<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1>やりたいことリスト</h1>
		<th:block th:if="${!#strings.isEmpty(registeredMessage)}">
			<h2 th:text="${registeredMessage}"></h2>
		</th:block>
		<th:block th:if="${myWishList != null && !#lists.isEmpty(myWishList)}">
			<ul th:inline="text" th:each="myWish : ${myWishList}">
				<li>[[${myWish.myWishContent}]]</li>
			</ul>
		</th:block>
		<th:block th:if="${myWishList == null || #lists.isEmpty(myWishList)}">
			<h2>やりたいことが登録されていません</h2>
		</th:block>
	</div>
</body>
</html>